.game-grid {
    display: flex;
    /* border: 1px solid red; */
    width: 500px;
    height: 500px;
}

.game-field {
    border: 1px solid black;
    width: calc(500px/3);
    height: calc(500px/3);
    font-size: 6em;
    text-align: center;
}

.players {
    display: flex;
    font-size: 3rem;
    gap: 1rem;
}

.current {
    border-bottom: 2px solid red;
}