# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    shm_size: 128mb
    ports: 
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: root
    volumes:
      - type: tmpfs
        target: /dev/shm
        tmpfs:
          size: 134217728 # 128*2^20 bytes = 128Mb

  adminer:
    image: adminer
    ports:
      - 8080:8080